.toggle-button {
    margin-left: -2px;
    padding: 0;
    width: 50px;
    height: 48px;
    position: absolute;
    top: 16px;
    left: 0;
    color: #282c34;
    border-radius: 2px;
    background: white;
    border: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    cursor: pointer;
}